<% include ./partials/header.ejs %>

		<!-- Start Landing Page Section  -->
		<div class="landing">
			<div class="dark home-wrap">
				<div class="home-inner">

				</div>
			</div>
		</div>
		<div class="caption text-center mt-5">
			<a href="#products" class="btn btn-outline-secondary btn-lg">SHOP NOW</a>
		</div>
		<!-- End Landing Page Section  -->

	</div>
	<!--End Home Section  -->



<!--Start Features Section  -->
<div id="features" class="offset">
	<div class="section">
		<div class="narrow">
			<div class="col-12 text-center">
				<h3 class="heading">Foreign Money Cartel</h3>
				<div class="heading-underline"></div>
				<div class="row text-center">
					<div class="col-md-4">
						<div class="card">
							<img class="img1" src="img/model1f.jpg" alt="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
								<img class="img2" src="img/model2f.jpg" alt="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img class="img3" src="img/model3f.jpg" alt="">
					</div>
				</div> <!--End Row -->
			</div>
		</div>
		       <!-- End Narrow -->
	</div><!--End Jumbotron -->
</div>
<!--End Features Section  -->





<!--Start Resources Section  -->
<div id="products" class="offset">
	<div class="fixed-background">
		<div class="row dark text-center">
			<div class="col-12">
				<h3 class="heading">For The Hustlers <br> By The Hustlers</h3>
				<div class="heading-underline"></div>
			</div>
			<div class="col-md-4 b">
				<a class="product" href="#"><h3>Men</h3>
				<div class="feature">
					<i class="fas fa-code fa-3x"></i>
				</div>
				<p class="lead">“Remind yourself. Nobody builds like you, you design yourself.” – Jay Z</p></a>
			</div>
			<div class="col-md-4">
				<a class="product" href="#"><h3>Women</h3>
				<div class="feature">
					<i class="fas fa-bold fa-3x"></i>
				</div>
				<p class="lead">“Fashion is more about feel than science.” – Pharrell Williams</p></a>
			</div>
			<div class="col-md-4">
				<a class="product" href="#"><h3>Accessories</h3>
				<div class="feature">
					<i class="fab fa-css3 fa-3x"></i>
				</div>
				<p class="lead">“Every man should have a magnifying mirror. If you look good magnified, you are set to go” – Tom Ford</p></a>
			</div>

		</div> <!--End Row Dark-->
		<div class="fixed-wrap">
			<div class="fixed">
			</div>
		</div>
	</div> <!-- End Fixed Background -->
</div>
<!--End  Section  -->



<!--Start Clients Section  -->
<!-- <div id="clients" class="offset">
</div> -->
<!--End Clients Section  -->

<% include ./partials/footer.ejs %>
